@{
    ViewData["Title"] = "Theme Page";
    Layout = "_Layout2";
}
@model IndexViewModel

<div style="margin-top: -3rem;">
    <div class="p-4">
        <div class="card-body mx-3">
            
            <div class="row">
                @foreach (var item in Model.Courses)
               {
                    <div class="col-md-6 p-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="~/Pages/@item.PageLink">@item.Name</a>
                            </div>
                        </div>
                    </div>
               }
            </div>        
        </div>
    </div>
</div>