@{
    ViewData["Title"] = "Home Page";
}

@model FileUpload

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="formFile"></label>
        </dt>
        <dd>
            <input asp-for="formFile" type="file">
        </dd>
    </dl>
    <button type="submit" class="btn btn-primary">Save</button>
</form>