@{
    ViewData["Title"] = "Theme Page";
    Layout = "_Layout";
}<div>
    <div class="card p-4">
        <div class="card-body">
        
                <div class="card p-4">
                    <div class="card-body">
                        <a asp-controller="home" asp-action="index" class="btn btn-outline-primary" style="font-size: 14px;">
                            <i class='bx bx-arrow-back' style="font-size: 14px;"></i> Orqaga qaytish
                        </a>
                        <h1 class="card-title" style="padding: 2rem 1rem 0 1rem;">1-dars. Wordga kirish</h1>
                        <hr class="line-clamp-3"/>

                    </div>
                </div>
            </div>
    </div>
</div>