@{
    ViewData["Title"] = "Theme Page";
}

<div style="margin-top: -3rem;">
    <div class="p-4">
        <div class="card-body mx-3">
            
            <div class="row">
                <div class="col-md-6 p-3">
                     <div class="card">
                    <div class="card-body">
                        salom
                    </div>
                 </div>
                </div>
                <div class="col-md-6 p-3">
                     <div class="card">
                    <div class="card-body">
                        salom
                    </div>
                 </div>
                </div>

                <div class="col-md-6 p-3">
                     <div class="card">
                    <div class="card-body">
                        salom
                    </div>
                 </div>
                </div>
                <div class="col-md-6 p-3">
                     <div class="card">
                    <div class="card-body">
                        salom
                    </div>
                 </div>
                </div>
            </div>        
        </div>
    </div>
</div>