@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Section Page";
}
@model AddThemeViewModel

   <div class="box-header position-relative table-header mt-2">
        <div class="d-flex justify-content-between mt-3 com-header">
            <h3>Add new Section</h3>
        </div>
    </div>
    <form class="mx-4" asp-controller="theme" asp-action="add" method="post">
        <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="Theme.Name">Theme Name</label>
            <input asp-for="Theme.Name" type="text" class="form-control" id="title" placeholder="Enter theme name ...">
        </div>
         <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="Theme.SectionId">Section for</label>
            <select asp-for="Theme.SectionId" class="form-control">
                @foreach (var item in Model.Sections)
               {
                   <option value="@item.Id">@item.Name</option>
               }
            </select>
        </div>

        <div class="button-group text-center my-5">
            <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                Save
            </button>
            <a asp-controller="theme" asp-action="index">
                <span class="btn btn-info"  style=" width:200px;">Cancel</span>
            </a>
         </div>
    </form>